<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings >
    <add
         name="ToDoContext" 
         connectionString="Server=localhost;Database=ToDos;User ID=sa; Password=C3b4ucme;Trusted_Connection=False;"/>
         <!-- providerName="System.Data.SqlClient"/> -->
    </connectionStrings>
</configuration>